<suite name="Suite World">
    <test name="Test Name">
        <groups>
            <define name="include-groups">
                <include name="likes" />
            </define>
            <define name="exclude-groups">
                <include name="smoke" />
            </define>
            <run>
                <include name="include-groups" />
            </run>
        </groups>
        <classes>
            <class name="ru.vk.likes.LikesTest"/>
        </classes>
    </test>
</suite>